
{% extends "app/base.html" %}

{% block title %}
Jobfinder | Apply Job
{% endblock title %}


{% block content %}
    <h1>Apply for {{ job.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your Name"><br>
        <input type="email" name="email" placeholder="Your Email"><br>
        <input type="file" name="resume"><br>
        <button type="submit">Apply</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>  
    {% endfor %}
    
  {% endif %}
{% endblock %}

