{% extends "app/base.html" %}
{% block content %}
{% block title %}
Jobfinder | Home
{% endblock title %}

    <!-- Hero Section -->
    <section class="hero bg-light">
        <div class="container text-center">
            <h1>Welcome to Jobfinder</h1>
            <p>Find the best talent for your company</p>
            <a href="#" class="btn btn-primary">Get Started</a>
        </div>
        
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="container">
            <div class="row">
                {% for st in stu %}
                
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{st.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">{{st.description}}</h6>
                      <p class="card-text">{{st.job_type}}</p>
                      <p class="card-text">{{st.location}}</p>
                      <p class="card-text">{{st.posted_by}}</p>
                      <a href="#" class="card-link">Apply Now</a>
                      <a href="#" class="card-link">View</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% endblock content %}