
{% extends "app/base.html" %}

{% block title %}
Jobfinder | Post Job
{% endblock title %}


{% block content %}
{% if perms.recruitment_app.recruiter %}
    <h1>Post a Job</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Job Title"><br>
        <textarea name="description" placeholder="Job Description"></textarea><br>
        <input type="text" name="job_type" placeholder="Job Type"><br>
        <input type="text" name="location" placeholder="Location"><br>
        <button type="submit">Post Job</button>
    </form>
    {% else %}
    <p>Sorry, you don't have permission to post jobs.</p>
{% endif %}

{% if messages %}
{% for message in messages %}
<small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>  
{% endfor %}

{% endif %}
    
{% endblock %}
